<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbqZl8GlA21d0DNi3nosnjG5iuLH3_JNU</string>
	<key>GCM_SENDER_ID</key>
	<string>33106762135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tytan.app.user</string>
	<key>PROJECT_ID</key>
	<string>tytan-user-a162c</string>
	<key>STORAGE_BUCKET</key>
	<string>tytan-user-a162c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33106762135:ios:75b3fca325574424268cd2</string>
</dict>
</plist>